{% extends 'blueprint_A.html' %}

{% block title %}Categorias - MentalAid{% endblock %}

{% block content %}
    <div class="btn-create-wrapper">
        <a href="{% url 'create_phrase' category_id=1 %}" class="btn-create-phrase">Criar frase</a>  
    </div>

    <h2>Categorias</h2>
    <ul>
        {% for category in categories %}
            <li>
                {% if category.id %}
                    <a href="{% url 'phrase_list' category.id %}">{{ category.name }}</a>
                {% else %}
                    <span>Categoria inválida</span>
                {% endif %}
            </li>
        {% empty %}
            <li>Nenhuma categoria disponível.</li>
        {% endfor %}
    </ul>
{% endblock %}
