
h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 2.4vw;
    text-align: center;
    margin-bottom: 1rem;
}

h3 {
    color: rgb(219, 219, 219);
    font-size: 1vw;
    text-align: left;
}

.header-wrapper {
    /* border: 4px solid rgb(0, 255, 13); */
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 0;
    right: 4%;
    max-width: inherit;
}

#phrase-block-list {
    min-height: 10vw;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
}

.phrase-block {
    min-height: 10vw;
    width: 100%;
    border: 4px solid purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    background-image: url('../media/peace.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30vw;
    width: 30vw;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: top;
    /* border: 4px solid red; */
    height: 65vh;
    position: relative;
    z-index: 10;
    margin-top: 4rem;
}

.content-block {
    /* border: 4px solid orange; */
    height: 100%;
    max-width: 60%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: top;
}

.author {
    font-size: 1.2vw;
    font-weight: bold;
}

.author::before {
    content: "\270E";
}

.phrase {
    font-size: 2vw;
    font-weight: normal;
    font-style: italic;
}

.phrase::before {
    content: "\275B";
}

.phrase::after {
    content: "\275C";
}



.scroll-container, .scroll-area {
    min-height: 100%;
    height: 100%;
    width: 100%;
    font-size: 3vw;
}

.scroll-container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll-area {
    scroll-snap-align: start;
    scroll-behavior: smooth;
    /* border: 3px solid pink; */

}

.scroll-area > span {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid green; */

    text-align: justify;
    padding: 0 10%;
}

.scroll-area hr {
    max-width: 80%;
    margin: 1rem 0;
}


/*Scrollbar Stuff*/



/* Style the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
    height: 12px; /* For horizontal scrollbars */
}

/* Style the track (background) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; /* Rounded corners for the track */
}

/* Style the thumb (scroll handle) */
::-webkit-scrollbar-thumb {
    background: #b5c9b9;
    border-radius: 10px; /* Rounded corners for the thumb */
}

/* Optional: Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}